<div class="card">
	<div class="card-header">Danh sách người dùng</div>
	<table class="table table-striped">
				<thead style="font-variant: small-caps;">
					<tr>
						<th scope="col">Username</th>
						<th scope="col">Fullname</th>
						<th scope="col">Date of birth</th>
						<th scope="col">Email</th>
						<th scope="col">Image</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="a in pager.items">
						<td>{{a.idaccounts}}</td>
						<td>{{a.fullname}}</td>
						<td>{{a.birthday | date: 'dd/MM/yyyy'}}</td>
						<td>{{a.address}}</td>
						<td>{{a.image}}</td>
						<td>
							 <button type="button" ng-click="edit(a)" class="btn btn-warning fa fa-edit"></button>
 							 <button type="button"  ng-click="delete(a)" class="btn btn-danger fa fa-trash"></button>
						</td>
					</tr>

				</tbody>
			</table>
			<div class="card-footer text-center">
			<div class="btn-group" role="group"
				aria-label="Basic mixed styles example">
				<button type="button" ng-click="pager.first()" class="btn btn-danger">
					<i class="	fa fa-hand-o-up"></i> 
				</button>
				<button type="button" ng-click="pager.prev()" class="btn btn-primary">
					<i class="fa fa-hand-o-left"></i> 
				</button>
				<button type="button" class="btn btn-successr">
					{{pager.page + 1}} of {{pager.count}}
				</button>
				<button type="button" ng-click="pager.next()" class="btn btn-primary">
					<i class="fa fa-hand-o-right"></i> 
				</button>
				<button type="button" ng-click="pager.last()" class="btn btn-danger">
					<i class="fa fa-hand-o-down"></i> 
				</button>
			</div>
		</div>
</div>