<div class="card">
	<div class="card-header">Phân quyền</div>
	<table class="table table-striped">
	
				<thead class="bg-success" style="font-variant: small-caps;">
					<tr>
						<th scope="col"></th>
						<th scope="col" ng-repeat="role in roles" class="text-center">{{role.name}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="acc in pager.items">
						<td>{{acc.fullname}}</td>
						
						<th ng-repeat="role in roles" class="text-center">
							<input ng-checked="authority_of(acc,role)" ng-click="authority_changed(acc,role)" type="checkbox">
						</th>
					</tr>

				</tbody>
			</table>
			<div class="btn-group" role="group"
				aria-label="Basic mixed styles example">
				<button type="button" ng-click="pager.first()" class="btn btn-danger">
					<i class="	fa fa-hand-o-up"></i> 
				</button>
				<button type="button" ng-click="pager.prev()" class="btn btn-primary">
					<i class="fa fa-hand-o-left"></i> 
				</button>
				<button type="button" class="btn btn-successr">
					{{pager.page + 1}} of {{pager.count}}
				</button>
				<button type="button" ng-click="pager.next()" class="btn btn-primary">
					<i class="fa fa-hand-o-right"></i> 
				</button>
				<button type="button" ng-click="pager.last()" class="btn btn-danger">
					<i class="fa fa-hand-o-down"></i> 
				</button>
			</div>
</div>